<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Search Customer</h4>
        </div>
    </div>
    <form role="form" (submit)="searchCustomer($event)">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <span class="product-title">Name</span>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                <input [(ngModel)]="reqDTOCustomer.entityCustomer.customerName" name="firstName" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <button (click)="printCustomerList($event)" type="button" class="custom-button pull-left"><i class="fa fa-print"></i>Print Customer List</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <button type="submit" id="search-product-btn" class="custom-button pull-right">Refresh</button>
            </div>
        </div>
    </form>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="customer-list-table-height-view-point">
                <div class="table-wrapper">
                    <table class="common-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Due</th>
<!--                                <th>Website</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Zip/Postal Code</th>
                                <th>Discount</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" *ngFor="let customer of customerList" (click)="showCustomer($event, customer.entityCustomer.id)">
                                <td data-label="Name">{{customer.entityUser.userName}}</td>
                                <td data-label="Contact">{{customer.entityUser.firstName}} {{customer.entityUser.lastName}}</td>
                                <td data-label="Phone">{{customer.entityUser.cell}}</td>
                                <td data-label="Email">{{customer.entityUser.email}}</td>
                                <td data-label="Due">{{customer.entityCustomer.balance}}</td>
<!--                                <td data-label="Website"></td>
                                <td data-label="Address"></td>
                                <td data-label="City"></td>
                                <td data-label="Zip/Postal Code"></td>
                                <td data-label="Discount"></td>-->
                            </tr>
                                <tr class="cursor-pointer">
                                <td data-label="Name"></td>
                                <td data-label="Contact"></td>
                                <td data-label="Phone"></td>
                                <td data-label="Email"></td>
                                <td data-label="Due">Total Due : {{totalDue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-paginator [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="onPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
