<div class="container-fluid">
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>Search Customer</h4>
                </div>
            </div>
            <form role="form" (submit)="searchCustomer($event)">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <span class="supplier-title">Name</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                        <input [(ngModel)]="reqDTOCustomer.entityCustomer.customerName" name="firstName" id="firstName" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" id="search-product" class="custom-button pull-right">Refresh</button>
                    </div>
                </div>
            </form> 
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="manage-customer-left-side-table-height-view-point">
                        <div class="table-wrapper manage-customer-left-side-table">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let customer of customerList" (click)="selectedCustomer($event, customer.entityCustomer.id)" [ngClass]="{'active': customerId == customer.entityCustomer.id }">
                                        <td data-label="Name">{{customer.entityUser.userName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button (click)="newCustomer($event)" type="button" class="custom-button"><i class="fa fa-file"></i> New</button>
                        <button [disabled]="disableSaveButton" (click)="saveCustomer($event)"  type="button" class="custom-button"><i class="fa fa-floppy-o"></i> Save</button>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <tabset class="manage-customer-right-side-tabset">
                        <!--Customer Info Tab Starts-->
                        <tab class="manage-customer-right-side-tab" heading="Customer Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Basic</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Name<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoCustomer.entityUser.userName" name="userName" class="form-control">
                                        </div>
                                    </div>
<!--                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Last Name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoCustomer.entityUser.lastName" id="{{dtoCustomer.entityUser.id}}" name="{{dtoCustomer.entityUser.id}}" class="form-control">
                                        </div>
                                    </div>-->
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Balance</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoCustomer.entityCustomer.balance" id="{{dtoCustomer.entityCustomer.id}}" name="{{dtoCustomer.entityCustomer.id}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Remarks</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <textarea  [(ngModel)]="dtoCustomer.entityCustomer.remarks" id="weight" name="weight" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Contact</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Full Name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoCustomer.entityUser.firstName" name="firstName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Phone</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoCustomer.entityUser.cell" name="cell" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Email</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoCustomer.entityUser.email" name="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Address</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <textarea  [(ngModel)]="dtoCustomer.entityUser.address" id="address" name="address" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </tab>
                        <!--Customer Info Tab Ends-->
                        <!--Extra Info Tab Starts-->
<!--                        <tab class="manage-customer-right-side-tab" heading="Extra Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Preferences</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                </div>
                            </div>
                        </tab>-->
                        <!--Extra Info Tab Ends-->
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Manage Customer Message Dispaly Modal Starts-->
<div bsModal #manageCustomerMessageDispalyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageCustomerMessageDispalyModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--<p class="text-center green">{{manageCustomerSuccessMessage}}</p>-->
                        <p class="text-center red">{{manageCustomerErrorMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-button" (click)="hideManageCustomerMessageDispalyModal()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Manage Customer Message Display Modal Ends-->