# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/build/
/dist/
/public_html/node_modules/
/public_html/app/product/*.js
/public_html/app/product/*.js.map
/public_html/app/purchase/*.js
/public_html/app/purchase/*.js.map
/public_html/app/sale/*.js
/public_html/app/sale/*.js.map
/public_html/app/stock/*.js
/public_html/app/stock/*.js.map
/public_html/app/supplier/*.js
/public_html/app/supplier/*.js.map
/public_html/app/customer/*.js
/public_html/app/customer/*.js.map
/public_html/app/webservice/*.js
/public_html/app/webservice/*.js.map
/nbproject/