<div class="container-fluid">
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 form-group">
            <!--Search a Supplier Starts-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>Search Supplier</h4>
                </div>
            </div>
            <form role="form" (submit)="searchSupplier($event)">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <span class="supplier-title">Name</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                        <input [(ngModel)]="reqDTOSupplier.entitySupplier.supplierName" name="firstName" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" id="search-product" class="custom-button pull-right">Refresh</button>
                    </div>
                </div>
            </form> 
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="manage-supplier-left-side-table-height-view-point">
                        <div class="table-wrapper manage-supplier-left-side-table">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let supplier of supplierList" (click)="selectedSupplier($event, supplier.entitySupplier.id)" [ngClass]="{'active': supplierId == supplier.entitySupplier.id }">
                                        <td data-label="Name">{{supplier.entityUser.userName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Search a Supplier Ends-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button (click)="newSupplier($event)" type="button" class="custom-button"><i class="fa fa-file"></i> New</button>
                        <button [disabled]="disableSaveButton" (click)="saveSupplier($event)"  type="button" class="custom-button"><i class="fa fa-floppy-o"></i> Save</button>
                        <!--<button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i> Attachment</button>-->
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <tabset class="manage-supplier-right-side-tabset">
                        <!--Supplier Info Tab Starts-->
                        <tab  class="manage-supplier-right-side-tab"  heading="Supplier Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Basic</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Name<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.userName" name="userName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Balance</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            {{dtoSupplier.entitySupplier.balance}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Contact</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Full Name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.firstName"  name="firstName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Phone</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.cell" name="cell" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Email</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.email" name="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Address</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <textarea  [(ngModel)]="dtoSupplier.entityUser.address" id="address" name="address" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </tab>
                        <!--Supplier Info Tab Ends-->

                        <!--Product List Tab Starts-->
                        <tab (select)="setSupplierProductList($event)" class="manage-product-right-side-tab" heading="Product List">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="common-table adjust-input">
                                        <thead>
                                            <tr>
                                                <th width="40%">Product<span class="required">*</span></th>
                                                <th width="20%">Price<span class="required">*</span></th>
                                                <th width="20%">Product Code<span class="required"></span></th>
                                                <th width="20%">Action<span class="required"></span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="40%" data-label="Product" (keypress)="showManageSupplierProductModal($event, 0)" (click)="showManageSupplierProductModal($event, 0)"><input class="form-control" ></td>
                                                <td width="20%" data-label="Price"><input class="form-control" ></td>
                                                <td width="20%" data-label="Product Code"><input class="form-control" ></td>
                                                <td width="20%" data-label="Action" class="text-center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="table-wrapper manage-purchase-right-side-product-table">
                                        <table class="common-table adjust-input">
                                            <tbody>
                                                <tr *ngFor="let entityProductSupplier of dtoSupplier.entityProductSupplierList">
                                                    <td width="40%" data-label="Product" (keypress)="showManageSupplierProductModal($event, entityProductSupplier.productId)" (click)="showManageSupplierProductModal($event, entityProductSupplier.productId)"><input class="form-control" value="{{entityProductSupplier.productName}}"></td>
                                                    <td width="20%" data-label="Price"><input class="form-control" [(ngModel)]="entityProductSupplier.supplierPrice"></td>
                                                    <td width="20%" data-label="Product Code"><input class="form-control" [(ngModel)]="entityProductSupplier.supplierProductCode"></td>
                                                    <td width="20%" data-label="Action"><i class="cursor-pointer fa fa-times" (keypress)="showManageSupplierSelectedProductDeleteModal($event, entityProductSupplier.productId)" (click)="showManageSupplierSelectedProductDeleteModal($event, entityProductSupplier.productId)"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>  
                                    <table class="common-table">
                                        <tfoot>
                                            <tr class="cursor-pointer" (keypress)="showManageSupplierProductModal($event, 0)" (click)="showManageSupplierProductModal($event, 0)">
                                                <td width="40%"><i class="fa fa-plus"></i></td>
                                                <td width="20%"></td>
                                                <td width="20%"></td>
                                                <td width="20%"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <mat-paginator [length]="supplierProductLength"
                                        [pageSize]="supplierProductPageSize"
                                        [pageSizeOptions]="supplierProductPageSizeOptions"
                                        (page)="onSupplierProductPaginateChange($event)">
                                    </mat-paginator>
                                </div>
                            </div>
                        </tab>
                        <!--Product List Tab Ends-->
                        
                        <!--Supplier Extra Info Tab Starts-->
                        <tab  class="manage-supplier-right-side-tab"  heading="Extra Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Other Info</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Previous Due</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entitySupplier.previousBalance" name="previousBalance" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    
                                </div>
                            </div> 
                        </tab>
                        <!--Supplier Extra Info Tab Ends-->
                        
                        <!--Supplier Payment List Tab Starts-->
                        <tab  class="manage-supplier-right-side-tab"  heading="Payment List">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Payments</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="report-layer">
                                                <div class="row form-group">
                                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                        <label>Amount</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                        <label>Description</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                        <label>Payment Date</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <label>Date</label>
                                                    </div>                            
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="report-layer-divider"></div>
                                                    </div>
                                                </div>
                                                <div (click)="setEntityPurchaseOrderPayment($event, payment.entityPurchaseOrderPayment)" *ngFor="let payment of purchaseOrderPaymentList" class="row form-group" [ngClass]="{'row-active': payment.entityPurchaseOrderPayment.id == entityPurchaseOrderPayment.id }">
                                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                                        <p>{{payment.entityPurchaseOrderPayment.amountOut}}</p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                        <p>{{payment.entityPurchaseOrderPayment.description}}</p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                        <p>{{payment.entityPurchaseOrderPayment.paymentDate | date: 'dd-MM-yyyy'}}</p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <p>{{payment.createdDate}}</p>
                                                    </div>                            
                                                </div>
                                            </div>
                                            <mat-paginator [length]="paymentLength"
                                                [pageSize]="paymentPageSize"
                                                [pageSizeOptions]="paymentPageSizeOptions"
                                                (page)="onPaymentPaginateChange($event)">
                                            </mat-paginator>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <form role="form" (submit)="savePurchasePayment($event)">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h3>Paurchase Payment</h3>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="supplier-title">Amount<span class="required">*</span></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <input [(ngModel)]="entityPurchaseOrderPayment.amountOut" name="amountOut" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="supplier-title">Description</span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <input [(ngModel)]="entityPurchaseOrderPayment.description" name="description" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="supplier-title">Payment Date</span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <input name="paymentDate" class="form-control input-custom-field custom-datepicker" type="text" 
                                                   [ngModel]="paymentDate | date:'dd-MM-yyyy'" (ngModelChange)="paymentDate = $event;"
                                                   (focus)="showPaymentDatePicker = true" >
                                                <div class="start-date" *ngIf="showPaymentDatePicker" >
                                                    <datepicker name="showPaymentDatePicker" [(ngModel)]="paymentDate" [minDate]="minDate" [showWeeks]="false" (selectionDone) ="showPaymentDatePicker = false"  ></datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <button [disabled]="disablePaymentSaveButton" type="submit" id="save-purchase-payment" class="custom-button pull-right">Save</button>
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                            </div> 
                        </tab>
                        <!--Supplier Payment List Tab Ends-->
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Manage Supplier Product Modal Starts-->
<div bsModal #manageSupplierProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Product</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageSupplierProductModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>Search</h4>
                    </div>
                </div>
                <form role="form" (submit)="searchManageSupplierProduct($event)">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Name</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <input [(ngModel)]="reqDTOProduct.entityProduct.name" id="name" name="name" class="form-control">
                        </div>
                    </div>
<!--                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Type</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <select class="form-control" >
                                <option *ngFor="let productType of productTypeList" id="{{productType.id}}" value="{{productType.title}}">{{productType.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Category</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <select class="form-control" >
                                <option *ngFor="let productCategory of productCategoryList" id="{{productCategory.id}}" value="{{productCategory.title}}">{{productCategory.title}}</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" id="search-product-btn" class="custom-button pull-right">Refresh</button>
                        </div>
                    </div>
                </form>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-wrapper">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Item</th>                                        
                                        <th>Type</th>
                                        <th>Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of productList" (click)="selectedProductFromModal($event, product.id)">
                                        <td data-label="Item">{{product.name}}</td>
                                        <td data-label="Type">{{product.typeTitle}}</td> 
                                        <td data-label="Category">{{product.categoryTitle}}</td>                                                                               
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator [length]="productLength"
                                [pageSize]="productPageSize"
                                [pageSizeOptions]="productPageSizeOptions"
                                (page)="onProductPaginateChange($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Manage Supplier Product Modal Ends-->

<!--Modal for Selected Product Delete Confirmation Starts-->
<div bsModal #manageSupplierSelectedProductDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageSupplierSelectedProductDeleteModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-center">Do you want to remove the product from this supplier? </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-red-button" data-dismiss="modal" (click)="hideManageSupplierSelectedProductDeleteModal()">No</button>
                        <button type="button" class="custom-button" (click)="deleteSelectedProduct($event)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal for Selected Product Delete Confirmation Ends-->

<!-- Manage Supplier Message Dispaly Modal Starts-->
<div bsModal #manageSupplierMessageDispalyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageSupplierMessageDispalyModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--<p class="text-center green">{{manageSupplierSuccessMessage}}</p>-->
                        <p class="text-center red">{{manageSupplierErrorMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-button" (click)="hideManageSupplierMessageDispalyModal()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Manage Supplier Message Display Modal Ends-->