<div class="container-fluid">
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 form-group">
            <!--Search a Supplier Starts-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>Search</h4>
                </div>
            </div>
            <form role="form" (submit)="searchSupplier($event)">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <span class="supplier-title">Name</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                        <input [(ngModel)]="reqDTOSupplier.entitySupplier.supplierName" name="firstName" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" id="search-product" class="custom-button pull-right">Refresh</button>
                    </div>
                </div>
            </form> 
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="manage-supplier-left-side-table-height-view-point">
                        <div class="table-wrapper manage-supplier-left-side-table">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let supplier of supplierList" (click)="selectedSupplier($event, supplier.entitySupplier.id)" [ngClass]="{'active': supplierId == supplier.entitySupplier.id }">
                                        <td data-label="Name">{{supplier.entityUser.userName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Search a Supplier Ends-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button (click)="newSupplier($event)" type="button" class="custom-button"><i class="fa fa-file"></i> New</button>
                        <button (click)="saveSupplier($event)"  type="button" class="custom-button"><i class="fa fa-floppy-o"></i> Save</button>
                        <!--<button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i> Attachment</button>-->
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <tabset class="manage-supplier-right-side-tabset">
                        <!--Supplier Info Tab Starts-->
                        <tab  class="manage-supplier-right-side-tab"  heading="Supplier Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Basic</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Name<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.userName" name="userName" class="form-control">
                                        </div>
                                    </div>
<!--                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Last Name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.lastName" name="lastName" class="form-control">
                                        </div>
                                    </div>-->
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Balance</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entitySupplier.balance" name="balance" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Contact</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Full Name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.firstName"  name="firstName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Phone</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.cell" name="cell" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Email</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoSupplier.entityUser.email" name="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </tab>
                        <!--Supplier Info Tab Ends-->

                        <!--Supplier Extra Info Tab Starts-->
                        <tab class="manage-supplier-right-side-tab" heading="Extra Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Preferences</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                </div>
                            </div>
                        </tab>
                        <!--Supplier Extra Info Tab Ends-->
                        
                        <!--Product List Tab Starts-->
                        <tab (select)="setProductSupplierList($event)" class="manage-product-right-side-tab" heading="Product List">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="common-table adjust-input">
                                        <thead>
                                            <tr>
                                                <th>Product<span class="required"></span></th>
                                                <th>Price<span class="required"></span></th>
                                                <th>Product Code<span class="required"></span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                    <div class="table-wrapper manage-purchase-right-side-product-table">
                                        <table class="common-table adjust-input">
                                            <tbody>
                                                <tr *ngFor="let entityProductSupplier of dtoSupplier.entityProductSupplierList">
                                                    <td data-label="Supplier">{{entityProductSupplier.productName}}</td>
                                                    <td data-label="Price">{{entityProductSupplier.supplierPrice}}</td>
                                                    <td data-label="Product Code">{{entityProductSupplier.supplierProductCode}}</td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>
                            </div>
                        </tab>
                        <!--Product List Tab Ends-->
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Manage Supplier Message Dispaly Modal Starts-->
<div bsModal #manageSupplierMessageDispalyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageSupplierMessageDispalyModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--<p class="text-center green">{{manageSupplierSuccessMessage}}</p>-->
                        <p class="text-center red">{{manageSupplierErrorMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-button" (click)="hideManageSupplierMessageDispalyModal()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Manage Supplier Message Display Modal Ends-->