<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4>Search</h4>
            </div>
        </div>
        <form role="form" (submit)="searchSupplier($event)">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <span class="product-title">Name</span>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                    <input [(ngModel)]="reqDTOSupplier.entityUser.firstName" name="name" class="form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" id="search-product-btn" class="custom-button pull-right">Refresh</button>
                </div>
            </div>
        </form>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="supplier-list-table-height-view-point">
                    <div class="table-wrapper">
                        <table class="common-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Website</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Zip/Postal Code</th>
                                    <th>Discount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cursor-pointer" *ngFor="let supplier of supplierList" (click)="showSupplier($event, supplier.entitySupplier.id)">
                                    <td data-label="Name">{{supplier.entityUser.firstName}} {{supplier.entityUser.lastName}}</td>
                                    <td data-label="Contact"></td>
                                    <td data-label="Phone">{{supplier.entityUser.cell}}</td>
                                    <td data-label="Email">{{supplier.entityUser.email}}</td>
                                    <td data-label="Website"></td>
                                    <td data-label="Address"></td>
                                    <td data-label="City"></td>
                                    <td data-label="Zip/Postal Code"></td>
                                    <td data-label="Discount"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-bg">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <footer>
                    <ul class="footer-ul">
                        <li><img class="img-responsive" src="resources/images/logo.png" alt="company logo"></li>
                        <li><span>Bdlions</span></li>
                        <li><span>016 XXXX XXXX</span></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>