<div class="wrapper">
    <div class="container-fluid">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 form-group">
                <!--Search a Purchase Order Starts-->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>Search</h4>
                    </div>
                </div>
                <form role="form" (submit)="searchPurchaseOrder($event)">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                            <span class="purchase-order-title">Order</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <input [(ngModel)]="reqDTOPurchaseOrder.entityPurchaseOrder.orderNo" name="orderNo" id="orderNo" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" id="search-product" class="custom-button pull-right">Refresh</button>
                        </div>
                    </div>
                </form> 
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-wrapper">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let purchaseOrder of purchaseOrderList" (click)="selectedPurchaseOrder($event, purchaseOrder.entityPurchaseOrder.orderNo)">
                                        <td data-label="Name" id="{{purchaseOrder.entityPurchaseOrder.id}}">{{purchaseOrder.entityPurchaseOrder.orderNo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Search a Purchase Order Ends-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="btn-group" role="group" aria-label="...">
                            <button (click)="newPurchaseOrder($event)" type="button" class="custom-button"><i class="fa fa-file"></i> New</button>
                            <button (click)="savePurchaseOrder($event)"  type="button" class="custom-button"><i class="fa fa-floppy-o"></i> Save</button>
                        </div>
                    </div>
                </div>
                <div class="row form-group margin-top-20px">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                <span class="purchase-order-title">Supplier</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                <input [(ngModel)]="dtoSupplier.entityUser.firstName"  name="firstName" class="form-control" (click)="showPurchaseOrderSupplierModal($event)">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                <span class="purchase-order-title">Phone</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                <input [(ngModel)]="dtoSupplier.entityUser.cell" name="cell" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                <span class="purchase-order-title">Email</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                <input [(ngModel)]="dtoSupplier.entityUser.email" name="email" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                <span class="purchase-order-title">Address</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                <textarea [(ngModel)]="dtoSupplier.entityUser.address" name="address" rows="3" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                <span class="purchase-order-title">Order</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                <input [(ngModel)]="dtoPurchaseOrder.entityPurchaseOrder.orderNo" name="orderNo" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tabset>
                            <!--Purchase Tab Starts-->
                            <tab heading="Purchase">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="common-table">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Discount</th>
                                                    <th>Sub-Total</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Item" (click)="showPurchaseOrderProductModal($event, 0)"><input class="form-control" ></td>
                                                    <td data-label="Quantity"><input class="form-control" ></td>
                                                    <td data-label="Unit Price"><input class="form-control" ></td>
                                                    <td data-label="Discount"><input class="form-control"></td>
                                                    <td data-label="Sub-Total"><label></label></td>
                                                    <td data-label="Action" class="text-center" (click)="showAddPurchaseOrderProductModal($event)"><i class="cursor-pointer fa fa-plus"></i></td>
                                                </tr>
                                                <tr *ngFor="let product of dtoPurchaseOrder.products">
                                                    <td data-label="Item" (click)="showPurchaseOrderProductModal($event, product.entityProduct.id)"><input class="form-control" value="{{product.entityProduct.name}}"></td>
                                                    <td data-label="Quantity"><input class="form-control" [(ngModel)]="product.quantity" (change)="calculateBalance()"></td>
                                                    <td data-label="Unit Price"><input class="form-control" [(ngModel)]="product.entityProduct.unitPrice" (change)="calculateBalance()"></td>
                                                    <td data-label="Discount"><input class="form-control" [(ngModel)]="product.discount" (change)="calculateBalance()"></td>
                                                    <td data-label="Total"><label>{{product.total}}</label></td>
                                                    <td data-label="Action"><i class="cursor-pointer fa fa-times" (click)="showSelectedPurchaseOrderProductDeleteModal($event, product.entityProduct.id)"></i></td>
                                                </tr>
                                                <tr class="cursor-pointer" (click)="showPurchaseOrderProductModal($event, 0)">
                                                    <td><i class="fa fa-plus"></i></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--                                    <div class="row">
                                                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
                                                                            <div class="cursor-pointer" (click)="purchaseOrderProductPagination($event)">
                                                                                <div><i class="fa fa-plus"></i></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-11">
                                                                            <nav aria-label="Page navigation example">
                                                                                <ul class="pagination">
                                                                                    <li class="page-item">
                                                                                        <a class="page-link" href="#" aria-label="Previous">
                                                                                            <span aria-hidden="true">&laquo;</span>
                                                                                            <span class="sr-only">Previous</span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                                                    <li class="page-item">
                                                                                        <a class="page-link" href="#" aria-label="Next">
                                                                                            <span aria-hidden="true">&raquo;</span>
                                                                                            <span class="sr-only">Next</span>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </nav>
                                                                        </div>
                                                                    </div>-->
                                <div class="row form-group margin-top-20px">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="purchase-order-title">Remarks</span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <textarea class="form-control" rows="3" [(ngModel)]="dtoPurchaseOrder.entityPurchaseOrder.remarks" name="remarks"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
<!--                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="purchase-order-title">Sub-total</span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <label name="subtotal">{{dtoPurchaseOrder.entityPurchaseOrder.subtotal}}</label>
                                            </div>
                                        </div>-->
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="purchase-order-title">Total</span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <label name="total">{{dtoPurchaseOrder.entityPurchaseOrder.total}}</label>
                                            </div>
                                        </div>
<!--                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="purchase-order-title">Balance</span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <label name="balance">{{dtoPurchaseOrder.dtoSupplier.entitySupplier.balance}}</label>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </tab>
                            <!--Purchase Tab Starts-->

                            <!--Receive Tab Starts-->
                            <tab heading="Receive">
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h3>Next Phase</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                    </div>
                                </div>
                            </tab>
                            <!--Receive Tab Ends-->
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Purchase Order Supplier Modal Starts-->
<div bsModal #purchaseOrderSupplierModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Supplier</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hidePurchaseOrderSupplierModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>Search</h4>
                    </div>
                </div>
                <form role="form" (submit)="searchPurchaseOrderSupplier($event)">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Name</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <input [(ngModel)]="reqDTOSupplier.entityUser.firstName" name="firstName" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Phone</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <input [(ngModel)]="reqDTOSupplier.entityUser.cell" name="cell" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Email</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <input [(ngModel)]="reqDTOSupplier.entityUser.email" name="email" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" id="search-product-btn" class="custom-button pull-right">Refresh</button>
                        </div>
                    </div>
                </form>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-wrapper">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let supplier of supplierList" (click)="selectedSupplier($event, supplier.entitySupplier.id)">
                                        <td data-label="Name">{{supplier.entityUser.firstName}} {{supplier.entityUser.lastName}}</td>
                                        <td data-label="Phone">{{supplier.entityUser.cell}}</td>
                                        <td data-label="Phone">{{supplier.entityUser.email}}</td>
                                        <td data-label="View"><a href="#" (click)="selectedPurchaseOrderSupplier($event, supplier.entityUser.id)">view</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Purchase Order Supplier Modal Ends-->

<!--Purchase Order Product Modal Starts-->
<div bsModal #purchaseOrderProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Product</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hidePurchaseOrderProductModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>Search</h4>
                    </div>
                </div>
                <form role="form" (submit)="searchPurchaseOrderProduct($event)">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Name</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <input [(ngModel)]="reqDTOProduct.entityProduct.name" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Type</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <select class="form-control" >
                                <option *ngFor="let productType of productTypeList" id="{{productType.id}}" value="{{productType.title}}">{{productType.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Category</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <select class="form-control" >
                                <option *ngFor="let productCategory of productCategoryList" id="{{productCategory.id}}" value="{{productCategory.title}}">{{productCategory.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" id="search-product-btn" class="custom-button pull-right">Refresh</button>
                        </div>
                    </div>
                </form>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-wrapper">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Category</th>
                                        <th>Normal Price</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of productList" (click)="selectedPurchaseOrderProductFromModal($event, product.id)">
                                        <td data-label="Item">{{product.name}}</td>
                                        <td data-label="Category">{{product.categoryTitle}}</td>
                                        <td data-label="Normal Price">{{product.unitPrice}}</td>
                                        <td data-label="Details"><a href="#" (click)="selectedPurchaseOrderProductDetails($event, product.id)">details</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Purchase Order Product Modal Ends-->

<!--Add Purchase Order Product Modal Starts-->
<div bsModal #addPurchaseOrderProduct="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Add Purchase Order Product</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddPurchaseOrderProduct()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-center">Do you want to Add this Product? </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-red-button" data-dismiss="modal" (click)="hideAddPurchaseOrderProduct()">No</button>
                        <button type="button" class="custom-button">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Add Purchase Order Product Modal Ends-->

<!--Selected Purchase Order Product Delete Modal Starts-->
<div bsModal #selectedPurchaseOrderProductDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Selected Purchase Product Delete</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideSelectedPurchaseOrderProductDeleteModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-center">Do you want to Delete this Product? </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-red-button" data-dismiss="modal" (click)="hideSelectedPurchaseOrderProductDeleteModal()">No</button>
                        <button type="button" class="custom-button" (click)="deleteSelectedProductFromModal($event)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Selected Purchase Order Product Delete Modal Ends-->

<!-- Manage Purchase Message Dispaly Modal Starts-->
<div bsModal #managePurchaseMessageDispalyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManagePurchaseMessageDispalyModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-center green">{{managePurchaseSuccessMessage}}</p>
                        <p class="text-center red">{{managePurchaseErrorMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- Manage Sale Message Dispaly Modal Ends-->