<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Search Purchase Order</h4>
        </div>
    </div>
    <form role="form" (submit)="searchPurchaseOrder($event)">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <span class="purchase-order-list-title">Order</span>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4">
                <input [(ngModel)]="reqDTOPurchaseOrder.entityPurchaseOrder.orderNo" id="orderNo" name="orderNo" class="form-control">
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <span class="purchase-order-list-title">Cell</span>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4">
                <input [(ngModel)]="reqDTOPurchaseOrder.entityPurchaseOrder.cell" id="cell" name="cell" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" id="search-product-btn" class="custom-button pull-right">Refresh</button>
            </div>
        </div>
    </form>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="purchase-list-table-height-view-point">
                <div class="table-wrapper">
                    <table class="common-table">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Order Date</th>
                                <th>Entry By</th>
<!--                                <th>Inventory Status</th>
                                <th>Payment Status</th>-->
                                <th>Supplier</th>
                                <th>Cell</th>
                                <th>Email</th>
<!--                                <th>Requester Ship Date</th>
                                <th>Due Date</th>-->
                                <th>Total</th>
                                <th>Paid</th>
                                <!--<th>Balance</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" *ngFor="let purchaseOrder of purchaseOrderList" (click)="showPurchaseOrder($event, purchaseOrder.entityPurchaseOrder.orderNo)">
                                <td data-label="Order">{{purchaseOrder.entityPurchaseOrder.orderNo}}</td>
                                <td data-label="Order Date">{{purchaseOrder.orderDate}}</td>
                                <td data-label="Entry By">{{purchaseOrder.entityPurchaseOrder.createdByUserName}}</td>
<!--                                <td data-label="Inventory Status"></td>
                                <td data-label="Payment Status"></td>-->
                                <td data-label="Supplier">{{purchaseOrder.entityPurchaseOrder.supplierName}}</td>
                                <td data-label="Supplier Cell">{{purchaseOrder.entityPurchaseOrder.cell}}</td>
                                <td data-label="Supplier Email">{{purchaseOrder.entityPurchaseOrder.email}}</td>
<!--                                <td data-label="Requester Ship Date">{{purchaseOrder.entityPurchaseOrder.requestedShipDate}}</td>
                                <td data-label="Due Date"></td>-->
                                <td data-label="Total">{{purchaseOrder.entityPurchaseOrder.total}}</td>
                                <td data-label="Paid">{{purchaseOrder.entityPurchaseOrder.paid}}</td>
                                <!--<td data-label="Balance">{{purchaseOrder.dtoSupplier.entitySupplier.balance}}</td>-->
                            </tr>
                        </tbody>
                    </table>
                    <mat-paginator [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="onPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
