<div class="container">
    <div class="row form-group margin-top-100px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="home-animation-ul">
                <li><img class="home-animation-ul-image-size" src="resources/images/supplier.png"/></li>
                <li><div class="supplier-purchase-first-circle"></div> <div class="supplier-purchase-second-circle"></div> <div class="supplier-purchase-third-circle"></div> <div class="supplier-purchase-fourth-circle"></div> <div class="supplier-purchase-fifth-circle"></div></li>
                <li><img class="home-animation-ul-image-size" src="resources/images/purchase_order.png"/></li>
                <li><div class="purchase-inventory-first-circle"></div> <div class="purchase-inventory-second-circle"></div> <div class="purchase-inventory-third-circle"></div> <div class="purchase-inventory-fourth-circle"></div> <div class="purchase-inventory-fifth-circle"></div></li>
                <li><img class="home-animation-ul-image-size" src="resources/images/inventory.png"/></li>
                <li><div class="inventory-sale-first-circle"></div> <div class="inventory-sale-second-circle"></div> <div class="inventory-sale-third-circle"></div> <div class="inventory-sale-fourth-circle"></div> <div class="inventory-sale-fifth-circle"></div></li>
                <li><img class="home-animation-ul-image-size" src="resources/images/sales_order.png"/></li>
                <li><div class="sale-customer-fifth-circle"></div> <div class="sale-customer-second-circle"></div> <div class="sale-customer-third-circle"></div> <div class="sale-customer-fourth-circle"></div> <div class="sale-customer-fifth-circle"></div></li>
                <li><img class="home-animation-ul-image-size" src="resources/images/customer.png"/></li>
            </ul>
        </div>
    </div>
</div>
<!--<div style="color: white; font: 20">
    Home
</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5 class="create-ad-label">Available From</h5>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <input name="sampleDate" class="form-control input-custom-field" type="text" 
            [ngModel]="sampleDate | date:'dd-MM-yyyy'" (ngModelChange)="sampleDate = $event;"
            (focus)="showDatePicker = true" >
        <div class="start-date" *ngIf="showDatePicker" >
            <datepicker name="showDatePicker" [(ngModel)]="sampleDate" [minDate]="minDate" [showWeeks]="false" (selectionDone) ="showDatePicker = false"  ></datepicker>
        </div>
    </div>
</div>-->