<div class="container">
    <div class="row form-group home-animation-margin-top">
        <div class="col-md-12 col-lg-12">
            <ul class="home-animation-ul">
                <li>
                    <a class="home-manage-supplier-anchor" href="#" (click)="goManageSupplier($event)">Manage Supplier</a>
                    <img class="home-animation-ul-image-size" src="resources/images/supplier.png" alt="Supplier"/>
                    <a class="home-supplier-list-anchor" href="#" (click)="goSupplierList($event)" >Supplier List</a>
                </li>
                <li><div class="supplier-purchase-first-circle"></div> <div class="supplier-purchase-second-circle"></div> <div class="supplier-purchase-third-circle"></div> <div class="supplier-purchase-fourth-circle"></div> <div class="supplier-purchase-fifth-circle"></div></li>
                <li>
                    <a class="home-manage-purchase-anchor" href="#" (click)="goManagePurchase($event)" >Manage Purchase</a>
                    <img class="home-animation-ul-image-size" src="resources/images/purchase_order.png" alt="Purchase Order"/>
                    <a class="home-purchase-list-anchor" (click)="goPurchaseList($event)" >Purchase List</a>
                </li>
                <li><div class="purchase-inventory-first-circle"></div> <div class="purchase-inventory-second-circle"></div> <div class="purchase-inventory-third-circle"></div> <div class="purchase-inventory-fourth-circle"></div> <div class="purchase-inventory-fifth-circle"></div></li>
                <li>
                    <a class="home-current-stock-anchor" href="#" (click)="goCurrentStock($event)" >Current Stock</a>
                    <a class="home-adjust-stock-anchor" href="#" (click)="goProduct($event)" >Adjust Stock</a>
                    <img class="home-animation-ul-image-size" src="resources/images/inventory.png" alt="Inventory"/>
                    <a class="home-new-product-anchor" href="#" (click)="goManageProduct($event)" >New Product</a>
                    <a class="home-product-list-anchor" href="#" (click)="goProductList($event)" >Product List</a>
                </li>
                <li><div class="inventory-sale-first-circle"></div> <div class="inventory-sale-second-circle"></div> <div class="inventory-sale-third-circle"></div> <div class="inventory-sale-fourth-circle"></div> <div class="inventory-sale-fifth-circle"></div></li>
                <li>
                    <a class="home-manage-sale-anchor" href="#" (click)="goManageSale($event)" >Manage Sale</a>
                    <img class="home-animation-ul-image-size" src="resources/images/sales_order.png" alt="Sale Order"/>
                    <a class="home-sale-list-anchor" href="#" (click)="goSaleList($event)" >Sale List</a>
                </li>
                <li><div class="sale-customer-fifth-circle"></div> <div class="sale-customer-second-circle"></div> <div class="sale-customer-third-circle"></div> <div class="sale-customer-fourth-circle"></div> <div class="sale-customer-fifth-circle"></div></li>
                <li>
                    <a class="home-manage-customer-anchor" href="#" (click)="goManageCustomer($event)" >Manage Customer</a>
                    <img class="home-animation-ul-image-size" src="resources/images/customer.png" alt="Customer"/>
                    <a class="home-customer-list-anchor" href="#" (click)="goCustomerList($event)" >Customer List</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<div style="color: white; font: 20">
    Home
</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5 class="create-ad-label">Available From</h5>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <input name="sampleDate" class="form-control input-custom-field" type="text" 
            [ngModel]="sampleDate | date:'dd-MM-yyyy'" (ngModelChange)="sampleDate = $event;"
            (focus)="showDatePicker = true" >
        <div class="start-date" *ngIf="showDatePicker" >
            <datepicker name="showDatePicker" [(ngModel)]="sampleDate" [minDate]="minDate" [showWeeks]="false" (selectionDone) ="showDatePicker = false"  ></datepicker>
        </div>
    </div>
</div>-->