<!--Web Starts-->
<!--<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav *ngIf='showNavBar' class="navbar navbar-custom navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-responsive logo" src="resources/images/inventory.png" alt="Inventory"/>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav cuntom-nav navbar-nav">
                    <li mat-button (click)="goHome($event)" [ngClass]="{'active': activeMenu == 'home' }">
                        <span>Home</span>
                    </li>
                    <li mat-button (mouseover)="saleMenu.openMenu()" #saleMenu="matMenuTrigger" [matMenuTriggerFor]="saleMenuItems">
                        <span>Sale </span>
                    </li>

                    <mat-menu #saleMenuItems="matMenu" [overlapTrigger]="false" >
                        <li mat-menu-item [ngClass]="{'active': activeMenu == 'managesale' }" (click)="goManageSale($event)" [matMenuTriggerFor]="saleSubMenuItems">
                            <span>Manage Sale</span>
                        </li>

                        <li mat-menu-item [ngClass]="{'active': activeMenu == 'salelist' }" (click)="goSaleList($event)" >
                            <span>Sale List</span>
                        </li>
                        <li mat-menu-item [ngClass]="{'active': activeMenu == 'managecustomer' }" (click)="goManageCustomer($event)">
                            <span  >Manage Customer</span>
                        </li>
                        <li mat-menu-item [ngClass]="{'active': activeMenu == 'customerlist' }" (click)="goCustomerList($event)">
                            <span  >Customer List</span>
                        </li>
                    </mat-menu>

                    <mat-menu #saleSubMenuItems="matMenu" [overlapTrigger]="false" >
                        <li mat-menu-item [ngClass]="{'active': activeMenu == 'managesale' }">
                            <span>Sub sub menu 1</span>
                        </li>

                        <li mat-menu-item [ngClass]="{'active': activeMenu == 'salelist' }" >
                            <span>Sub sub menu 2</span>
                        </li>
                    </mat-menu>

                    <li mat-button (mouseenter)="purchaseMenu.openMenu()" #purchaseMenu="matMenuTrigger" [matMenuTriggerFor]="purchaseMenuItems">
                        <span>Purchase </span>
                    </li>
                    <mat-menu #purchaseMenuItems="matMenu" [overlapTrigger]="false" >
                        <li mat-menu-item  [ngClass]="{'active': activeMenu == 'managepurchase' }" (click)="goManagePurchase($event)">
                            <span  >Manage Purchase</span>
                        </li>
                        <li mat-menu-item  [ngClass]="{'active': activeMenu == 'purchaselist' }" (click)="goPurchaseList($event)" >
                            <span>Purchase List</span>
                        </li>
                        <li mat-menu-item  [ngClass]="{'active': activeMenu == 'managesupplier' }" (click)="goManageSupplier($event)">
                            <span  >Manage Supplier</span>
                        </li>
                        <li mat-menu-item  [ngClass]="{'active': activeMenu == 'supplierlist' }" (click)="goSupplierList($event)">
                            <span  >Supplier List</span>
                        </li>
                    </mat-menu>
                    <li  mat-button (mouseenter)="inventoryMenu.openMenu()" #inventoryMenu="matMenuTrigger" [matMenuTriggerFor]="inventoryMenuItems">
                         <span>Inventory</span>
                    </li>

                    <mat-menu #inventoryMenuItems="matMenu" [overlapTrigger]="false" >
                        <li mat-menu-item [ngClass]="{'active': activeMenu == 'manageproduct' }" (click)="goManageProduct($event)" >
                            <span>New Product</span>
                        </li>
                        <li mat-menu-item [ngClass]="{'active': activeMenu == 'productlist' }" (click)="goProductList($event)">
                            <span  >Product List</span>
                        </li>
                        <li mat-menu-item  [ngClass]="{'active': activeMenu == 'currentstock' }" (click)="goCurrentStock($event)">
                            <span  >Current Stock</span>
                        </li>
                    </mat-menu>

                    <li mat-button [ngClass]="{'active': activeMenu == 'ck' }" (click)="goCkEditor($event)">
                        <span>CKEditor</span>
                    </li>
                    <li mat-button [ngClass]="{'active': activeMenu == 'logout' }" (click)="goLogout($event)">
                        <span>Logout</span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<angular-loader></angular-loader>-->
<!--Web Ends-->

<!--Desktop Starts-->

<div class="menu-wrapper">
    <div class="row">
        <div *ngIf='showNavBar' class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mat-btn" mat-button (mouseover)="saleMenu.openMenu()" #saleMenu="matMenuTrigger" [matMenuTriggerFor]="saleMenuItems">
                 <img class="logo" src="resources/images/inventory.png" alt="Inventory"/>
            </div>

            <mat-menu #saleMenuItems="matMenu" [overlapTrigger]="false" >
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'home' }" (click)="goHome($event)">
                     <span>Home</span>
                </div>
                <div mat-menu-item [matMenuTriggerFor]="saleSubMenuItems">
                     <span>Sales</span>
                </div>
                <div mat-menu-item [matMenuTriggerFor]="purchaseSubMenuItems">
                     <span>Purchasing</span>
                </div>

                <div mat-menu-item [matMenuTriggerFor]="inventorySubMenuItems">
                     <span>Inventory</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'logout' }" (click)="goLogout($event)">
                     <span>Logout</span>
                </div>
            </mat-menu>

            <mat-menu #saleSubMenuItems="matMenu" [overlapTrigger]="false" >
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'managesale' }" (click)="goManageSale($event)">
                     <span>Manage Sale</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'salelist' }" (click)="goSaleList($event)">
                     <span>Sale List</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'managecustomer' }" (click)="goManageCustomer($event)">
                     <span>Manage Customer</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'customerlist' }" (click)="goCustomerList($event)">
                     <span>Customer List</span>
                </div>
            </mat-menu>

            <mat-menu #purchaseSubMenuItems="matMenu" [overlapTrigger]="false" >
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'managepurchase' }" (click)="goManagePurchase($event)">
                     <span>Manage Purchase</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'purchaselist' }" (click)="goPurchaseList($event)">
                     <span>Purchase List</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'managesupplier' }" (click)="goManageSupplier($event)">
                     <span>Manage Supplier</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'supplierlist' }" (click)="goSupplierList($event)">
                     <span>Supplier List</span>
                </div>
            </mat-menu>

            <mat-menu #inventorySubMenuItems="matMenu" [overlapTrigger]="false" >
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'manageproduct' }" (click)="goManageProduct($event)">
                     <span>New Product</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'productlist' }" (click)="goProductList($event)">
                     <span>Product List</span>
                </div>
                <div mat-menu-item [ngClass]="{'active': activeMenu == 'currentstock' }" (click)="goCurrentStock($event)">
                     <span>Current Stock</span>
                </div>

            </mat-menu>
        </div>
    </div>
    <angular-loader></angular-loader>
</div>
<!--Desktop Ends-->
