<div class="container-fluid">
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 form-group">
            <!--Search a Product Starts-->
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>Search Product</h4>
                </div>
            </div>
            <form role="form" (submit)="searchProduct($event)">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <span class="product-title">Name/Code</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                        <input [(ngModel)]="reqDTOProduct.entityProduct.name" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <span class="product-title">Category</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                        <select [(ngModel)]="selectedProductCategory" name="selectedProductCategory" class="form-control" >
                            <option *ngFor="let productCategory of productCategoryList" [ngValue]="productCategory">{{productCategory.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" id="search-product" class="custom-button pull-right">Refresh</button>
                    </div>
                </div>
            </form> 
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="manage-product-left-side-table-height-view-point">
                        <div class="table-wrapper manage-product-left-side-table">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let product of productList" (click)="selectedProduct($event, product.id)" [ngClass]="{'active': productId == product.id }">
                                        <td data-label="Item">{{product.name}}</td>
                                        <td data-label="Category">{{product.categoryTitle}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Search a Product Ends-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button (click)="newProduct($event)" type="button" class="custom-button"><i class="fa fa-file"></i> New</button>
                        <button [disabled]="disableSaveButton" (click)="saveProduct($event)"  type="button" class="custom-button"><i class="fa fa-floppy-o"></i> Save</button>
                        <!--<button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i> Attachment</button>-->
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <tabset class="manage-product-right-side-tabset">
                        <!--Product Info Tab Starts-->
                        <tab class="manage-product-right-side-tab" heading="Product Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Basic</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Name<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.name" id="name" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Code<span class="required"></span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.code" id="code" name="code" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Type<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <select [(ngModel)]="dtoProduct.entityProductType" name="entityProductType" class="form-control" >
                                                <option *ngFor="let productType of productTypeList" [ngValue]="productType">{{productType.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Category<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <select [(ngModel)]="dtoProduct.entityProductCategory" name="entityProductCategory" class="form-control" >
                                                <option *ngFor="let productCategory of productCategoryList" [ngValue]="productCategory">{{productCategory.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Price</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Cost<span class="required"></span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.costPrice" id="costPrice" name="costPrice" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Price<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.unitPrice" id="unitPrice" name="unitPrice" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">


                                </div>
                            </div> 
                        </tab>
                        <!--Product Info Tab Ends-->

                        <!--Extra Info Tab Starts-->
                        <tab class="manage-product-right-side-tab" heading="Extra Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Unit of Measure</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Standard UoM</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <select class="form-control" >
                                                <option *ngFor="let uom of uomList" id="{{uom.id}}" value="{{uom.title}}">{{uom.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Sales UoM</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <select class="form-control" >
                                                <option *ngFor="let uom of uomList" id="{{uom.id}}" value="{{uom.title}}">{{uom.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Purchasing UoM</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <select class="form-control" >
                                                <option *ngFor="let uom of uomList" id="{{uom.id}}" value="{{uom.title}}">{{uom.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Measurements</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Length</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.length" id="length" name="length" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Width</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.width" id="width" name="width" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Height</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.height" id="height" name="height" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Weight</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.weight" id="weight" name="weight" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Remarks</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <textarea [(ngModel)]="dtoProduct.entityProduct.remark" id="weight" name="weight" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Sale</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="product-title">Default Sale Quantity</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoProduct.entityProduct.defaultSaleQuantity" id="defaultSaleQuantity" name="defaultSaleQuantity" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <!--Extra Info Tab Ends-->
                        
                        <!--Supplier List Tab Starts-->
                        <tab (select)="setProductSupplierList($event)" class="manage-product-right-side-tab" heading="Supplier List">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="common-table adjust-input">
                                        <thead>
                                            <tr>
                                                <th>Supplier<span class="required">*</span></th>
                                                <th>Price<span class="required">*</span></th>
                                                <th>Product Code<span class="required"></span></th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-label="Supplier" (keypress)="showManageProductSupplierModal($event, 0)" (click)="showManageProductSupplierModal($event, 0)"><input class="form-control" ></td>
                                                <td data-label="Price"><input class="form-control" ></td>
                                                <td data-label="Product Code"><input class="form-control" ></td>
                                                <td data-label="Action" class="text-center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="table-wrapper manage-purchase-right-side-product-table">
                                        <table class="common-table adjust-input">
                                            <tbody>
                                                <tr *ngFor="let entityProductSupplier of dtoProduct.entityProductSupplierList">
                                                    <td data-label="Supplier" (keypress)="showManageProductSupplierModal($event, entityProductSupplier.supplierUserId)" (click)="showManageProductSupplierModal($event, entityProductSupplier.supplierUserId)"><input class="form-control" value="{{entityProductSupplier.supplierUserName}}"></td>
                                                    <td data-label="Price"><input class="form-control" [(ngModel)]="entityProductSupplier.supplierPrice"></td>
                                                    <td data-label="Product Code"><input class="form-control" [(ngModel)]="entityProductSupplier.supplierProductCode"></td>
                                                    <td data-label="Action"><i class="cursor-pointer fa fa-times" (keypress)="showManageProductSelectedSupplierDeleteModal($event, entityProductSupplier.supplierUserId)" (click)="showManageProductSelectedSupplierDeleteModal($event, entityProductSupplier.supplierUserId)"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table class="common-table">
                                        <tfoot>
                                            <tr class="cursor-pointer" (keypress)="showManageProductSupplierModal($event, 0)" (click)="showManageProductSupplierModal($event, 0)">
                                                <td><i class="fa fa-plus"></i></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <mat-paginator [length]="productSupplierLength"
                                        [pageSize]="productSupplierPageSize"
                                        [pageSizeOptions]="productSupplierPageSizeOptions"
                                        (page)="onProductSupplierPaginateChange($event)">
                                    </mat-paginator>
                                </div>                                
                            </div>
                        </tab>
                        <!--Supplier List Tab Ends-->
                        
                        <!--Movement History Tab Starts-->
                        <tab (select)="setMovementHistoryList()" class="manage-product-right-side-tab" heading="Movement History">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="common-table">
                                        <thead>
                                            <tr>
                                                <th>Transaction Type</th>
                                                <th>Date</th>
                                                <th>Order No</th>
                                                <th>Qty Before</th>
                                                <th>Quantity</th>
                                                <th>Qty After</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let productMovement of productMovementHistory">
                                                <td data-label="TransactionType">{{productMovement.transactionType}}</td>
                                                <td data-label="Date">{{productMovement.date}}</td>
                                                <td data-label="OrderNo">{{productMovement.orderNo}}</td>
                                                <td data-label="QuantityBefore">{{productMovement.quantityBefore}}</td>
                                                <td data-label="Quantity">{{productMovement.quantity}}</td>     
                                                <td data-label="QuantityAfter">{{productMovement.quantityAfter}}</td>     
                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator [length]="movementLength"
                                        [pageSize]="movementPageSize"
                                        [pageSizeOptions]="movementPageSizeOptions"
                                        (page)="onProductMovementHistoryPaginateChange($event)">
                                    </mat-paginator>
                                </div>                                
                            </div>
                        </tab>
                        <!--Movement History Tab Ends-->
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Manage Product Message Dispaly Modal Starts-->
<div bsModal #manageProductMessageDispalyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageProductMessageDispalyModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--<p class="text-center green">{{manageProductSuccessMessage}}</p>-->
                        <p class="text-center red">{{manageProductErrorMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-button" (click)="hideManageProductMessageDispalyModal()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Manage Product Message Display Modal Ends-->

<!-- Manage Product Supplier Modal Starts-->
<div bsModal #manageProductSupplierModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Supplier</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageProductSupplierModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>Search</h4>
                    </div>
                </div>
                <form role="form" (submit)="searchManageProductSupplier($event)">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Name</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <input [(ngModel)]="reqDTOSupplier.entitySupplier.supplierName" name="firstName" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Phone</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <input [(ngModel)]="reqDTOSupplier.entitySupplier.cell" name="cell" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <span class="product-title">Email</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                            <input [(ngModel)]="reqDTOSupplier.entitySupplier.email" name="email" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" id="search-product-btn" class="custom-button pull-right">Refresh</button>
                        </div>
                    </div>
                </form>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-wrapper">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
<!--                                        <th>View</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let supplier of supplierList" (click)="selectedSupplier($event, supplier.entityUser.id)">
                                        <td data-label="Name">{{supplier.entityUser.userName}}</td>
                                        <td data-label="Phone">{{supplier.entityUser.cell}}</td>
                                        <td data-label="Phone">{{supplier.entityUser.email}}</td>                                        
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator [length]="supplierLength"
                                [pageSize]="supplierPageSize"
                                [pageSizeOptions]="supplierPageSizeOptions"
                                (page)="onSupplierPaginateChange($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Manage Product Supplier Modal Ends-->

<!--Selected Supplier Delete Modal Starts-->
<div bsModal #manageProductSelectedSupplierDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageProductSelectedSupplierDeleteModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-center">Do you want to remove the supplier from this product? </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-red-button" data-dismiss="modal" (click)="hideManageProductSelectedSupplierDeleteModal()">No</button>
                        <button type="button" class="custom-button" (click)="deleteSelectedSupplier($event)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Selected Supplier Delete Modal Ends-->

