<div class="wrapper">
    <div class="container-fluid">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 form-group">
                  <!--Search a Product Starts-->
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>Search</h4>
                    </div>
                </div>
                <form role="form" (submit)="searchProduct($event)">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                            <span class="product-title">Item</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <input [(ngModel)]="reqDTOProduct.entityProduct.name" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                            <span class="product-title">Category</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <select class="form-control" >
                                <option *ngFor="let productCategory of productCategoryList" id="{{productCategory.id}}" value="{{productCategory.title}}">{{productCategory.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" id="search-product" class="custom-button pull-right">Refresh</button>
                        </div>
                    </div>
                </form> 
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-wrapper manage-product-left-side-table">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let product of productList" (click)="selectedProduct($event, product.id)">
                                        <td data-label="Item">{{product.name}}</td>
                                        <td data-label="Category">{{product.categoryTitle}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                   <!--Search a Product Ends-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="btn-group" role="group" aria-label="...">
                            <button (click)="newProduct($event)" type="button" class="custom-button"><i class="fa fa-file"></i> New</button>
                            <button (click)="saveProduct($event)"  type="button" class="custom-button"><i class="fa fa-floppy-o"></i> Save</button>
                            <!--<button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i> Attachment</button>-->
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tabset>
                            <!--Product Info Tab Starts-->
                            <tab class="manage-product-right-side-tab" heading="Product Info">
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h3>Basic</h3>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="product-title">Item<span class="required">*</span></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <input [(ngModel)]="dtoProduct.entityProduct.name" id="name" name="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="product-title">Type<span class="required">*</span></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <select [(ngModel)]="dtoProduct.entityProductType" name="entityProductType" class="form-control" >
                                                    <option *ngFor="let productType of productTypeList" [ngValue]="productType">{{productType.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="product-title">Category<span class="required">*</span></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <select [(ngModel)]="dtoProduct.entityProductCategory" name="entityProductCategory" class="form-control" >
                                                    <option *ngFor="let productCategory of productCategoryList" [ngValue]="productCategory">{{productCategory.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h3>Price</h3>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                <span class="product-title">Price<span class="required">*</span></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                <input [(ngModel)]="dtoProduct.entityProduct.unitPrice" id="unitPrice" name="unitPrice" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">


                                    </div>
                                </div> 
                            </tab>
                             <!--Product Info Tab Ends-->
                             
                             <!--Extra Info Tab Starts-->
                             <tab class="manage-product-right-side-tab" heading="Extra Info">
                                 <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <h3>Unit of Measure</h3>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                    <span class="product-title">Standard UoM</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                    <select class="form-control" >
                                                        <option *ngFor="let uom of uomList" id="{{uom.id}}" value="{{uom.title}}">{{uom.title}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                    <span class="product-title">Sales UoM</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                    <select class="form-control" >
                                                        <option *ngFor="let uom of uomList" id="{{uom.id}}" value="{{uom.title}}">{{uom.title}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                    <span class="product-title">Purchasing UoM</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                    <select class="form-control" >
                                                        <option *ngFor="let uom of uomList" id="{{uom.id}}" value="{{uom.title}}">{{uom.title}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <h3>Measurements</h3>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                    <span class="product-title">Length</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                    <input [(ngModel)]="dtoProduct.entityProduct.length" id="length" name="length" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                    <span class="product-title">Width</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                    <input [(ngModel)]="dtoProduct.entityProduct.width" id="width" name="width" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                    <span class="product-title">Height</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                    <input [(ngModel)]="dtoProduct.entityProduct.height" id="height" name="height" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                                    <span class="product-title">Weight</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                                    <input [(ngModel)]="dtoProduct.entityProduct.weight" id="weight" name="weight" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <h3>Remarks</h3>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <textarea [(ngModel)]="dtoProduct.entityProduct.remark" id="weight" name="weight" class="form-control" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             </tab>
                             <!--Extra Info Tab Ends-->
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Manage Product Message Dispaly Modal Starts-->
<div bsModal #manageProductMessageDispalyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageProductMessageDispalyModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!--<p class="text-center green">{{manageProductSuccessMessage}}</p>-->
                        <p class="text-center red">{{manageProductErrorMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                 <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-button" (click)="hideManageProductMessageDispalyModal()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Manage Product Message Display Modal Ends-->



