/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2017, 1:12:27 PM
    Author     : alamgir
*/

#title-bar {
    -webkit-app-region: drag;
    height: 32px;	
    padding: 0px;
    margin: 0px;  
    color: #ADADAD;
    font-family: sans-serif;
}

#title {
    position: fixed;
    top: 0px;
    left: 12px;	
    line-height: 32px;
    font-size: 14px;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 1px;
    right: 0px;	
}

#title-bar-btns button {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    color: #F1F1F1;
    font-size: 16px;
}

#title-bar-btns button:hover {
    background-color: #3F3F41;
}
