<div class="container-fluid">
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>Search User</h4>
                </div>
            </div>
            <form role="form">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <span class="supplier-title">Name</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                        <input name="firstName" id="firstName" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" id="search-product" class="custom-button pull-right">Refresh</button>
                    </div>
                </div>
            </form> 
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="manage-user-left-side-table-height-view-point">
                        <div class="table-wrapper manage-user-left-side-table">
                            <table class="common-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let entityUser of entityUserList" class="cursor-pointer" (click)="selectedUser($event, entityUser.id)" >
                                        <td data-label="Name">{{entityUser.userName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button (click)="newUser($event)" type="button" class="custom-button"><i class="fa fa-file"></i> New</button>
                        <button [disabled]="disableSaveButton" (click)="saveUser($event)"  type="button" class="custom-button"><i class="fa fa-floppy-o"></i> Save</button>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <tabset class="manage-user-right-side-tabset">
                        <!--User Info Tab Starts-->
                        <tab class="manage-user-right-side-tab" heading="User Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Basic</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Email<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoUser.entityUser.email" name="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Password<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input type="password" [(ngModel)]="dtoUser.entityUser.password" name="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Role</span>
                                        </div>
                                        <div *ngFor="let role of userRoleList" class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
                                            <input type="checkbox"
                                                 name="role"
                                                 value="{{role.id}}"
                                                 [checked]="setCurrentRoles(role?.id)"
                                                 (change)="updateCheckedRoles(role, $event)"
                                                 /><span class="supplier-title"> {{role.description}}</span>
                                       </div>
<!--                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
                                            <input id="admin" type="checkbox" (click)="roleAdmin($event)">  <span class="supplier-title">Admin</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            <input id="staff" type="checkbox" (click)="roleStaff($event)">  <span class="supplier-title">Staff</span>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Contact</h3>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Name<span class="required">*</span></span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoUser.entityUser.userName" name="userName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Full Name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoUser.entityUser.firstName" name="firstName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="supplier-title">Phone</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <input [(ngModel)]="dtoUser.entityUser.cell" name="cell" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </tab>
                        <!--User Info Tab Ends-->
                        <!--Extra Info Tab Starts-->
<!--                        <tab class="manage-customer-right-side-tab" heading="Extra Info">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <h3>Preferences</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                </div>
                            </div>
                        </tab>-->
                        <!--Extra Info Tab Ends-->
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Manage User Message Dispaly Modal Starts-->
<div bsModal #manageUserMessageDispalyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8  col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideManageUserMessageDispalyModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row margin-top-10px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-center red">{{manageUserErrorMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="custom-button" (click)="hideManageUserMessageDispalyModal()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Manage User Message Display Modal Ends-->