<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Search Current Stock</h4>
        </div>
    </div>
    <form role="form" (submit)="searchCurrentStock($event)">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <span class="current-stock-title">Name/Code</span>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <input [(ngModel)]="reqDTOProduct.entityProduct.name" id="name" name="name" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <span class="current-stock-title">Type</span>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <select [(ngModel)]="selectedProductType" name="selectedProductType" class="form-control" >
                    <option *ngFor="let productType of productTypeList" [ngValue]="productType">{{productType.title}}</option>
                </select>
            </div>
        </div>        
        <div class="row form-group">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <span class="current-stock-title">Category</span>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <select [(ngModel)]="selectedProductCategory" name="selectedProductCategory" class="form-control" >
                    <option *ngFor="let productCategory of productCategoryList" [ngValue]="productCategory">{{productCategory.title}}</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" id="search-product-btn" class="custom-button pull-right">Refresh</button>
            </div>
        </div>
    </form>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="current-stock-table-height-view-point">
                <div class="table-wrapper">
                    <table class="common-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Type</th>
                                <th>Category</th>
<!--                                <th>Last Supplier</th>
                                <th>Location</th>-->
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" *ngFor="let product of dtoProductList" (click)="showProduct($event, product.entityProduct.id)">
                                <td data-label="Item">{{product.entityProduct.name}}</td>
                                <td data-label="Code">{{product.entityProduct.code}}</td>
                                <td data-label="Type">{{product.entityProduct.typeTitle}}</td>
                                <td data-label="Category">{{product.entityProduct.categoryTitle}}</td>
<!--                                <td data-label="Last Supplier"></td>
                                <td data-label="Location"></td>-->
                                <td data-label="Quantity">{{product.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-paginator [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="onPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
